*TWORZENIE BAZY DANYCH*

In [129]:
import mysql.connector
from mysql.connector import Error

# Parametry połączenia
host = 'mysql.agh.edu.pl'
user = 'piotrkwa'
password = 'XrJAczZH3duKnbc2'
database = 'piotrkwa'  # Podaj nazwę bazy danych, z którą chcesz się połączyć

conn = None
try:
    # Tworzenie połączenia
    conn = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    if conn.is_connected():
        print("Połączenie z bazą danych zostało nawiązane pomyślnie!")
        


except Error as e:
    print(f"Błąd połączenia: {e}")

cursor = conn.cursor()
create_table_users = """
        CREATE TABLE IF NOT EXISTS users (
            id INT AUTO_INCREMENT PRIMARY KEY,
            email VARCHAR(50) NOT NULL
        );
        """

create_table_hosts = """
        CREATE TABLE IF NOT EXISTS hosts (
            id INT AUTO_INCREMENT PRIMARY KEY,
            user_id INT NOT NULL
        );
        """


create_table_countries = """
        CREATE TABLE IF NOT EXISTS countries (
            id INT AUTO_INCREMENT PRIMARY KEY,
            country_code VARCHAR(50) NOT NULL,
            name VARCHAR(50) NOT NULL
        );
        """    

create_table_cities = """
        CREATE TABLE IF NOT EXISTS cities (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(50) NOT NULL,
            country_id INT NOT NULL
        );
        """
create_table_places = """
        Create TABLE IF NOT EXISTS places (
        id INT AUTO_INCREMENT PRIMARY KEY,
        host_id INT NOT NULL,
        address VARCHAR(50) NOT NULL,
        city_id INT NOT NULL
        )
"""

create_table_bookings = """
        CREATE TABLE IF NOT EXISTS bookings (
            id INT AUTO_INCREMENT PRIMARY KEY,
            user_id INT NOT NULL,
            place_id INT NOT NULL,
            start_date DATE NOT NULL,
            end_date DATE NOT NULL,
            price_per_night FLOAT NOT NULL,
            num_nights INT NOT NULL
        );
        """

create_table_reviews = """
        CREATE TABLE IF NOT EXISTS reviews (
        id INT AUTO_INCREMENT PRIMARY KEY,
        booking_id INT NOT NULL,
        rating TINYINT NOT NULL,
        review_body TEXT NOT NULL
        )
"""

Połączenie z bazą danych zostało nawiązane pomyślnie!

In [130]:
cursor.execute(create_table_users)
cursor.execute(create_table_hosts)
cursor.execute(create_table_countries)
cursor.execute(create_table_cities)
cursor.execute(create_table_places)
cursor.execute(create_table_bookings)
cursor.execute(create_table_reviews)

In [131]:
alter_hosts_table = '''
        ALTER TABLE hosts
            ADD CONSTRAINT fk_user_host_id
            FOREIGN KEY (user_id)
            REFERENCES users(id);
    '''
alter_bookings_table = '''
        ALTER TABLE bookings
            ADD CONSTRAINT fk_user_id
            FOREIGN KEY (user_id)
            REFERENCES users(id),
            ADD CONSTRAINT fk_place_id
            FOREIGN KEY (place_id)
            REFERENCES places(id);

    '''
alter_cities_table = '''
        ALTER TABLE cities
            ADD CONSTRAINT fk_country_id
            FOREIGN KEY (country_id)
            REFERENCES countries(id);
    '''
alter_places_table = '''
        ALTER TABLE places
            ADD CONSTRAINT fk_host_id
            FOREIGN KEY (host_id)
            REFERENCES hosts(id),
            ADD CONSTRAINT fk_city_id
            FOREIGN KEY (city_id)
            REFERENCES cities(id);
    '''
alter_reviews_table = '''
        ALTER TABLE reviews
            ADD CONSTRAINT fk_booking_id
            FOREIGN KEY (booking_id)
            REFERENCES bookings(id);
    '''

In [132]:
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print("Tabele w bazie danych:")
for table in tables:
    print(table[0])  # Nazwa tabeli

Tabele w bazie danych:
bookings
cities
countries
hosts
places
reviews
users

In [133]:
cursor.execute("DESCRIBE users;")
structure = cursor.fetchall()

print("Struktura tabeli users:")
for row in structure:
    print(row)

Struktura tabeli users:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('email', 'varchar(50)', 'NO', '', None, '')

In [134]:
cursor.execute("DESCRIBE reviews;")
structure = cursor.fetchall()

print("Struktura tabeli reviews:")
for row in structure:
    print(row)

Struktura tabeli reviews:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('booking_id', 'int(11)', 'NO', 'MUL', None, '')
('rating', 'tinyint(4)', 'NO', '', None, '')
('review_body', 'text', 'NO', '', None, '')

In [135]:
cursor.execute("DESCRIBE bookings;")
structure = cursor.fetchall()

print("Struktura tabeli bookings:")
for row in structure:
    print(row)

Struktura tabeli bookings:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('user_id', 'int(11)', 'NO', 'MUL', None, '')
('place_id', 'int(11)', 'NO', 'MUL', None, '')
('start_date', 'date', 'NO', '', None, '')
('end_date', 'date', 'NO', '', None, '')
('price_per_night', 'float', 'NO', '', None, '')
('num_nights', 'int(11)', 'NO', '', None, '')

In [136]:
cursor.execute("DESCRIBE cities;")
structure = cursor.fetchall()

print("Struktura tabeli cities:")
for row in structure:
    print(row)

Struktura tabeli cities:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(50)', 'NO', '', None, '')
('country_id', 'int(11)', 'NO', 'MUL', None, '')

In [137]:
cursor.execute("DESCRIBE countries;")
structure = cursor.fetchall()

print("Struktura tabeli countries:")
for row in structure:
    print(row)

Struktura tabeli countries:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('country_code', 'varchar(50)', 'NO', '', None, '')
('name', 'varchar(50)', 'NO', '', None, '')

In [138]:
cursor.execute("DESCRIBE hosts;")
structure = cursor.fetchall()

print("Struktura tabeli hosts:")
for row in structure:
    print(row)

Struktura tabeli hosts:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('user_id', 'int(11)', 'NO', 'MUL', None, '')

In [139]:
cursor.execute("DESCRIBE places;")
structure = cursor.fetchall()

print("Struktura tabeli places:")
for row in structure:
    print(row)

Struktura tabeli places:
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('host_id', 'int(11)', 'NO', 'MUL', None, '')
('address', 'varchar(50)', 'NO', '', None, '')
('city_id', 'int(11)', 'NO', 'MUL', None, '')

In [140]:
#cursor.execute(alter_hosts_table)
#cursor.execute(alter_bookings_table)
#cursor.execute(alter_cities_table)
#cursor.execute(alter_places_table)
#cursor.execute(alter_reviews_table)

In [141]:
cursor.execute("SHOW CREATE TABLE hosts;") 
result = cursor.fetchone()

# Print the result
print("Table structure for 'hosts':")
print(result[1])

Table structure for 'hosts':
CREATE TABLE `hosts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_user_host_id` (`user_id`),
  CONSTRAINT `fk_user_host_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci

In [142]:
cursor.execute("SHOW CREATE TABLE bookings;") 
result = cursor.fetchone()

# Print the result
print("Table structure for 'bookings':")
print(result[1])

Table structure for 'bookings':
CREATE TABLE `bookings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `place_id` int(11) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `price_per_night` float NOT NULL,
  `num_nights` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_user_id` (`user_id`),
  KEY `fk_place_id` (`place_id`),
  CONSTRAINT `fk_place_id` FOREIGN KEY (`place_id`) REFERENCES `places` (`id`),
  CONSTRAINT `fk_user_id` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci

In [143]:
cursor.execute("SHOW CREATE TABLE cities;") 
result = cursor.fetchone()

# Print the result
print("Table structure for 'cities':")
print(result[1])

Table structure for 'cities':
CREATE TABLE `cities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `country_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_country_id` (`country_id`),
  CONSTRAINT `fk_country_id` FOREIGN KEY (`country_id`) REFERENCES `countries` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci

In [144]:
cursor.execute("SHOW CREATE TABLE places;") 
result = cursor.fetchone()

# Print the result
print("Table structure for 'places':")
print(result[1])

Table structure for 'places':
CREATE TABLE `places` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `host_id` int(11) NOT NULL,
  `address` varchar(50) NOT NULL,
  `city_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_host_id` (`host_id`),
  KEY `fk_city_id` (`city_id`),
  CONSTRAINT `fk_city_id` FOREIGN KEY (`city_id`) REFERENCES `cities` (`id`),
  CONSTRAINT `fk_host_id` FOREIGN KEY (`host_id`) REFERENCES `hosts` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci

In [145]:
cursor.execute("SHOW CREATE TABLE reviews;") 
result = cursor.fetchone()

# Print the result
print("Table structure for 'reviews':")
print(result[1])

Table structure for 'reviews':
CREATE TABLE `reviews` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_id` int(11) NOT NULL,
  `rating` tinyint(4) NOT NULL,
  `review_body` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_booking_id` (`booking_id`),
  CONSTRAINT `fk_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci